@tailwind base;
@tailwind components;
@tailwind utilities;

.circle {
  @apply w-8 aspect-square rounded-full bg-[#c12efe] absolute top-0 -translate-y-1/2;
}
.last {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.card {
  transform-style: preserve-3d;
}
.front,
.back {
  backface-visibility: hidden;
}
.back {
  transform: rotateY(180deg);
}
